html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 11px;
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, Sans-Serif;
    background: #fff;
}

input, select {
    font-size: inherit;
    font-family: inherit;
    margin: 0;
}

table {
    font-size: inherit;
    font-family: inherit;
    margin: 0;
}

a.toggle-link:link,
a.toggle-link:visited,
a.toggle-link:hover,
a.toggle-link:active {
    text-decoration: none;
    font-size: 16px;
}

a.info-link:link,
a.info-link:visited,
a.info-link:hover,
a.info-link:active {
    color: #eee;
    text-decoration: none;
    font-size: 16px;
}

.toggle-link-glow-on {
    color: #555555;
    -webkit-text-shadow: 0 0 6px #ffffff;
    -moz-text-shadow: 0 0 6px #ffffff;
    text-shadow: 0 0 6px #ffffff;
}

.toggle-link-glow-off {
    color: #eee;
}

#the-app {
    position: absolute;
}

#graph {
    position: absolute;
}

#rings {
    position: absolute;
    z-index: 1;
}

#edge-graph {
    position: absolute;
    z-index: 2;
}

#vector-graph {
    position: absolute;
    z-index: 3;
}

#about {
    display: none;
}

#search {
    display: none;
}

#search-results {
    margin:5px 0 0 0;
}

#loading-overlay {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
}

#loading-overlay-dialog {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -150px;
}

#loading-img {
    width:32px;
    height:32px;
    display: block;
    margin:20px auto 0 auto;
}

#loading-msg {
    text-align: center;
    padding: 20px;
}

#search-results-table {
    width: 100%;
    border-collapse: collapse;
}

#search-results-table thead {
    background: #ddd;
}

#search-results-table tbody tr:nth-child(even) {
    background: #eeeeee;
}

#search-results-table tbody tr:nth-child(odd) {
    background: #ffffff;
}

#search-results-table th {
    padding: 0 0 5px 0;
    text-align: center;
}

#search-results-table td {
    padding: 5px;
    text-align: left;
}

#search-results-header {
    height:5px;
    background: #ddd;
    border-radius: 4px 4px 0 0;
}

#search-results-footer {
    height:5px;
    background: #ddd;
    border-radius: 0 0 4px 4px;
}

#search-results-count {
    padding-left:5px;
}

.fill {
    width: 100%;
    height: 100%;
}

.search-input-wrapper {
}

.graph-vector {
    position: absolute;
    width: 80px;
    height: 80px;
    color: #fff;
    font-size: 11px;
    background: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: radial-gradient(60px at 40px 24px, #859398, #283048);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.graph-vector-expand-related-wrapper {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 5px;
    left: 0;
    line-height: 20px;
    text-align: center;
}

.graph-vector-band-wrapper {
    display: table;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 20px;
    left: 0;
    text-align: center;
}

.graph-vector-band {
    display: table-cell;
    vertical-align: middle;
    padding:0 5px;
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 10px;
}

.graph-vector-expand-details-wrapper {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 55px;
    left: 0;
    line-height: 20px;
    text-align: center;
}

.info-dialog-section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    clear: both;
    float: none;
}

.info-dialog-section label {
    clear: left;
    display: block;
    float: left;
    text-align: right;
    width: 50px;
}

.info-dialog-section span {
    clear: right;
    float: left;
    margin-left: 10px;
    width: 200px;
}

.country-flag {
    width:16px;
    height:16px;
    vertical-align: middle;
}